<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
    <link rel="stylesheet" href="{{ 'theme.css' | asset_url }}">

    <!-- <link rel="preload" href="{{ 'bundle.css' | asset_url }}" as="style"> this is a comment out line-->
    <!-- <link rel="preload" href="{{ 'bundle.js' | asset_url }}" as="script"> -->

    {% if settings.favicon %}
      <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
    {% endif %}

    <title>{{ page_title | escape }}</title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {{ 'bundle.css' | asset_url | stylesheet_tag }}

    <!-- Inject theme color -->
    <style>
  :root {
    --color-primary: {{ settings.color_primary }};
    --footer-text-color: {{ settings.footer_text_color }};
    --footer-social-icon-color: {{ settings.footer_social_icon_color }};

     }
</style>


    <!-- header hook for Shopify plugins -->
    {{ content_for_header }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" ... />
  </head>

  <body>
    <div {% unless request.page_type == 'captcha' %}id="app"{% endunless %}>
      {% section 'header' %}

      <main id="main" role="main">
        {{ content_for_layout }}
      </main>

      {% section 'footer' %}
    </div>

    <!-- webpack bundle -->
    <script src="{{ 'bundle.js' | asset_url }}" defer="defer"></script>
    {% section 'cart-drawer' %}

  </body>
</html>
